h1{

    Color:rgba(34, 0, 255, 0.808);
    }
    
    body {
        background-color: rgb(167, 211, 231);
      }
      
      div form{
        color: rgb(113, 14, 143);
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
      }
    
      #wrap{
    
        width: 1500px;
        margin: auto;
        padding: 30px 40px;
      }
   
    